#gitignore for standard django project

# Ignore all logfiles and database files
*.log
*.pot
*.pyc
*.sqlite3

# Ignore the virtualenv directory
venv/
env/

.env

# Ignore the poetry cache
.poetry/

# Ignore local database
db.sqlite3
local-db/


letsencrypt/
