{% load static %}

<!DOCTYPE html>
<html lang="en" data-theme="light">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>TODO - HTMX</title>
        <link rel="stylesheet" href="{% static 'css/reset.css' %}">
        <link rel="stylesheet" href="{% static 'css/bulma.css' %}">
    </head>
    <body>
        <header class="section">TODO APP - Django</header>
        <main class="section">
            {% block main %}{% endblock %}
        </main>
        <footer class="footer"></footer>
    </body>
</html>
