{% load static %}

<!DOCTYPE html>
<html lang="en" data-theme="light">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>TODO - HTMX</title>
        <link rel="stylesheet" href="{% static 'css/reset.css' %}">
        <link rel="stylesheet" href="{% static 'css/bulma.css' %}">
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
        <script src="{% static 'js/htmx.min.js' %}" defer></script>
    </head>
    <body>
        <header class="section pb-2">
            <div class="is-flex is-justify-content-center">
                <h1 class="is-size-2">TODO APP - Django X HTMX</h1>
            </div>
        </header>
        <main>
        <section class="section pt-2">
            <div class="container is-max-tablet is-flex-direction-column is-align-content-center">
                <hr>
                <div class="container is-max-tablet is-flex is-flex-direction-column">
                    <h2 class="is-size-4">Todo Items</h2>
                    <div id="todo-list">
                        {% for todo in todos %}
                            {% include "todo/_todo_item.html" %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
        </main>
        
        <!-- Modal Container -->
        <div id="modal-container"></div>
        
        <!-- Floating Action Button -->
        <button class="button is-primary is-large is-rounded fab has-shadow" 
                hx-get="{% url 'todo:get_todo_form' %}" 
                hx-target="#modal-container" 
                hx-swap="innerHTML"
                title="Add new todo">
            <span class="icon is-large">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 5V19M5 12H19" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </span>
        </button>
        <footer class="footer"></footer>

        <script>
          document.addEventListener('DOMContentLoaded', (event) => {
            document.body.addEventListener('htmx:configRequest', function(evt) {
              const csrfTokenInput = document.querySelector('input[name="csrfmiddlewaretoken"]');
              if (csrfTokenInput) {
                evt.detail.headers['X-CSRFToken'] = csrfTokenInput.value;
              }
            });
          });
        </script>
    </body>
</html>
